.market {
	display: flex;
	gap: 5px;
	justify-content: space-evenly;
	align-items: center;
}

.market--default {
}

.market--compact {
}

.market--wins {
	width: var(--wins-market-width);
}

.market--winsX {
	width: var(--winsX-market-width);
}

.market--handicaps {
	width: var(--handicaps-market-width);
}

.market--totals {
	width: var(--totals-market-width);
}

.market__button {
	width: 100%;
	cursor: pointer;
	background-color: #f1f4f8;
	border: 1px solid #ebeff5;
	border-radius: 2px;
	font-weight: 700;
}

/* Компактный режим */

.market--compact.market {
}

.market--compact.market--wins {
	width: var(--wins-market-width-cp);
}

.market--compact.market--winsX {
	width: var(--winsX-market-width-cp);
}

.market--compact.market--handicaps {
	width: var(--handicaps-market-width-cp);
}

.market--compact.market--totals {
	width: var(--totals-market-width-cp);
}

/* Большой экран */

@media screen and (max-width: 1280px) {
	.market:first-child {
		display: none;
	}
}

/* Средний экран */

@media screen and (max-width: 1024px) {
	.market:not(:last-child) {
		display: none;
	}
}

/* Маленький экран */

@media screen and (max-width: 479px) {
	.market {
		height: 100%;
		gap: unset;
	}

	.market--wins > :nth-child(even),
	.market--winsX > :nth-child(even),
	.market--totals > :not(:nth-child(even)) {
		background-color: unset;
	}
}

/* Селект форы */

.handicaps-select {
	min-width: 14px;
	width: 14px;
	display: flex;
	align-items: center;
}

.handicaps-select ul {
	width: 100px;
}

.handicaps-select button {
	padding: 0;
	background-color: var(--white-color);
	border: 1px solid transparent;
	height: 20px;
	justify-content: center;
	color: #24668c;
	opacity: 0.5;
}

.handicaps-select button:hover {
	background-color: unset;
	opacity: 1;
	border: 1px solid #24668c;
}

.handicaps-select button > svg:first-child {
	height: 10px;
	width: 8px;
}

.handicaps-select button > svg:not(:first-child) {
	display: none;
}

/* Селект тотала */

.totals-select {
	min-width: 40px;
	display: flex;
	align-items: center;
}

.totals-select ul {
	width: 100px;
}

.totals-select button {
	padding: 0;
	background-color: var(--white-color);
	border: 1px solid transparent;
	height: 20px;
	justify-content: end;
	color: #24668c;
	opacity: 0.5;
}

.totals-select button:hover {
	background-color: unset;
	opacity: 1;
	border: 1px solid #24668c;
}

.totals-select button > div {
	display: flex;
	align-items: center;
	gap: 5px;
}

.totals-select button > svg {
	display: none;
}

/* Значение коэффициента */

.factor-value {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #f1f4f8;
	width: 100%;
	height: 26px;
	border-radius: 2px;
	color: #121212;
	border: 1px solid #ebeff5;
	font-weight: 700;
	overflow: hidden;
	box-sizing: border-box;
}

.factor-value:hover:not(.factor-value--empty) {
	background-color: #dfe4ea;
	border-color: #1c5fb014;
}

.factor-value--empty {
	opacity: 0.7;
	cursor: default;
}

.factor-value--composite {
	justify-content: space-between;
}

.factor-value--composite span:first-child {
	width: 50%;
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 11px;
}

.factor-value--composite span:last-child {
	width: 50%;
	display: flex;
	justify-content: center;
}

/* Компактный режим */

.market--compact .factor-value {
	height: 20px;
}

/* Маленький экран */

@media screen and (max-width: 479px) {
	.market .factor-value {
		height: 100%;
		border-radius: 0;
		border: none;
	}
}
