.button {
	display: inline-block;
	padding: 0 10px;
	line-height: 30px;
	color: var(--white-color);
	outline: none;
	border: none;
	border-radius: 2px;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	transition: all ease 200ms;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.button {
		line-height: 24px;
	}
}

.button--primary {
	background-color: #571ce0;
}

.button--primary:hover {
	background-color: #291b6b;
}

.button--primary:active {
	background-color: #291b6b;
}

.button--default {
	background-color: #2f2f2f;
}

.button--default:hover {
	background-color: #414141;
}

.button--default:active {
	background-color: #1e1e1e;
}
