.select {
	position: relative;
	width: 100%;
	font-size: 12px;
}

.select--open .select__button {
	background-color: #35383f;
}

.select__button {
	width: 100%;
	justify-content: space-between;
	line-height: 24px;
}

.select__down-icon {
	transition: transform 0.2s;
	min-width: 10px;
}

.select--open .select__down-icon {
	transform: rotate(-180deg);
}

.select__dropdown {
	position: absolute;
	z-index: var(--z-index-select-dropdown);
	width: 100%;
	margin: 2px 0 0 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--white-color);
	border-radius: 2px;
	box-shadow: 0 4px 4px #00000026;
}

.select-option {
	list-style-type: none;
	color: #5e6978;
	cursor: pointer;
	padding: 5px 10px;
}

.select-option:hover {
	color: #24668c;
	background-color: #eceff3cc;
}

.select-option--selected {
	color: #000;
	background-color: #eceff380;
	font-weight: 500;
}

.select-option__caption {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
